autom4te.cache/

libtool
stamp-h1
Makefile
config.status
config/config.h

doc/docs/
doc/doxygen.cfg
doc/mainpage.dox

packaging/control
packaging/libkmer-reader*.pc
packaging/libkmer-transformers*.pc
packaging/postinst
packaging/prerm


resources/[bB]iject[hH]ash-*.cloc
resources/[bB]iject[hH]ash-*.filelist
resources/[bB]iject[hH]ash-*.ohcount
resources/[bB]iject[hH]ash-*.stats

src/.deps/
src/.libs/
src/transformers/*/.deps/
src/transformers/*/.libs/

tests/.deps/
tests/.libs
tests/*.trs
tests/test_kmer_reader
tests/test_lcp_stats

*/ChangeLog

*.la
*.lo
*.log
*.o
*.gcno
*.gcda
*.gcov
*~
res_*.err
res_*.out

a.out
BijectHash
BijectHash_with_cache_stats
BijectHash_with_checks

bijecthash-*.tar.gz
BijectHash_*.deb
